div.map-card-container
  padding 8px !important

  > div.card
    width 31.333%
    margin 1%
    display inline-block

    > a.thumbnail
      padding 4px
      cursor pointer
      text-decoration none
      display block
      height 100%

      border 1px solid #ecf0f1
      border-radius 4px
      transition border .2s ease-in-out

      color text-color

    > a.thumbnail:hover
        border-color link-color


      div.caption
        text-align center
