<div class="jumbotron">
    <div class="container">
        <h1>Pumpkin</h1>
        <p>Pumpkin is a pvp game framework for minecraft</p>
        <img src="http://skin.jk-5.nl/jk_5/64.png"/>
        <img src="http://skin.jk-5.nl/mattashii_/64.png"/>
        <img src="http://skin.jk-5.nl/PostVillageCore/64.png"/>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <h2>Currently Online</h2>
    </div>
    <div class="col-md-4">
        <h2>Content</h2>
    </div>
    <div class="col-md-4">
        <h2>Content</h2>
    </div>
    <div class="col-md-4">
        <h2>Content</h2>
    </div>
    <div class="col-md-4">
        <h2>Content</h2>
    </div>
    <div class="col-md-4">
        <h2>Content</h2>
    </div>
    <div class="col-md-4">
        <h2>Content</h2>
    </div>
    <div class="col-md-4">
        <h2>Content</h2>
    </div>
    <div class="col-md-4">
        <h2>Content</h2>
    </div>
</div>
