<div class="jumbotron mainjumbotron">
    <div class="container">
        <h1>Pumpkin</h1>
        <p>Pumpkin is a pvp game framework for minecraft</p>
    </div>
</div>
<div class="container main-content">
    <div class="col-12 online-players-container">
        <h2>Currently Online</h2>
        <div>
            <div ng-repeat="p in onlinePlayers" tooltip-placement="bottom" tooltip="{{p.fullName}}">
                <a href="#/player/{{p.id}}">
                    <img ng-src="https://minotar.net/helm/{{p.mcUsername}}/64.png"/>
                </a>
            </div>
        </div>
    </div>
</div>
