<div class="container">
    <div class="col-md-12">
        <h1>{{mappack.name}} - Settings</h1>
        <div class="setting-buttons-container">
            <a href="/#/mappack/{{mappack.id}}/settings/worlds" class="thumbnail">
                <span class="glyphicon glyphicon-globe"></span>
                <div class="caption">Worlds</div>
            </a>
            <a class="thumbnail">
                <span class="glyphicon glyphicon-tower"></span>
                <div class="caption">Teams</div>
            </a>
            <a class="thumbnail">
                <span class="glyphicon glyphicon-folder-open"></span>
                <div class="caption">Permissions</div>
            </a>
            <a class="thumbnail">
                <span class="glyphicon glyphicon-file"></span>
                <div class="caption">Script</div>
            </a>
            <a class="thumbnail">
                <span class="glyphicon glyphicon-stats"></span>
                <div class="caption">Stats</div>
            </a>
            <a class="thumbnail">
                <span class="glyphicon glyphicon-stats"></span>
                <div class="caption">Stats</div>
            </a>
        </div>
    </div>
</div>
