
.col-1-3
  col(1/3, $gutter: 3)

.col-2-3
  col(2/3, $gutter: 3)

main
  margin-right auto
  margin-left auto
  padding-left main-gutter-width
  padding-right main-gutter-width

  @media (min-width: screen-small-min) {
    width container-small
  }
  @media (min-width: screen-medium-min) {
    width container-medium
  }
  @media (min-width: screen-large-min) {
    width container-large
  }

.block:last-child
  margin-bottom 40px

.block:first-child
  margin-top 40px

.block
  //margin-top 40px
  margin-bottom 40px
  background-color white
  box-shadow 0 1px 2px rgba(0,0,0,0.05)

  > div.content
    padding 20px

    p
      line-height 1.6em
      margin-bottom 1.2em

    > :last-child
      margin-bottom 0
    > :first-child
      margin-top 0

    h1
      font-size 28px
      line-height 28px
      margin-bottom 15px
      margin-top 15px

    h2
      font-size 24px
      line-height 24px
      margin-bottom 7px
      margin-top 10px

    h3
      font-size 20px
      line-height 20px
      margin-bottom 7px
      margin-top 10px

    h4
      font-size 16px
      line-height 16px
      margin-bottom 7px
      margin-top 10px

    a:hover
      text-decoration underline

    img
      width 100%
      margin-bottom 1.2em

    hr
      border 1px solid #eceff2
      margin-bottom 1.2em

    pre
      padding 15px
      color #666a6f
      background-color #eee
      margin-left -20px
      margin-right -20px
      padding-left 20px
