
body
  padding-top 60px

.no-bottom-padding
  padding-bottom 0

div.jumbotron.mainjumbotron
  margin-bottom 0

div.center-margins
  margin-left auto
  margin-right auto

div.auto-width
  width auto

div.inline-block
  display inline-block

div.main-content

  div.content-card > h2
    height 35px

  div.online-players-container
    > div
      display inline-block

      > div
        float left
        margin 0 5px 5px 0
        cursor pointer
        overflow auto

div.map-card-container
  padding-left 30px

  > a.thumbnail
    margin 0 20px 20px 0
    float left
    cursor pointer
    text-decoration none

    img
      height 300px
      width 350px

    div.caption
      text-align center

div.mappack-detail-container

  > div.col-md-8
    > hr
      margin 12px 0

    > div.toolbar
      @media (max-width: 992px) { //Small
        margin-top 20px
      }
      @media (min-width: 992px) { //Normal
        position absolute
        right 5px
        top 25px
      }

  > div.col-md-4
    padding-top 25px

    > img
      width 100%

  div#mappack-description-markdown-container
    img
      max-width 100%

div#mappack-desc-editor
  height 450px

div.setting-buttons-container
  width 100%
  height auto

  > a.thumbnail
    margin 0 10px 10px 0
    float left
    cursor pointer
    text-decoration none
    text-align center
    width 15.767%
    min-width 150px
    display block

    -webkit-border-radius 3px
    -moz-border-radius 3px
    border-radius 3px

    -webkit-box-shadow none
    -moz-box-shadow none
    box-shadow none

    background-color #ecf0f1
    border 1px solid transparent

    &:hover
      outline 0

    &:hover, &:focus
      border 1px solid #18bc9c

    span.glyphicon
      margin-top 12px
      font-size 55pt

    div.caption
      margin-top 5px
      margin-bottom 7px
      padding-bottom 0
      text-align center
