
bg-color = #f5f8f9
text-color = #565a5f
link-color = #38b7ea

navbar-height = 64px
navbar-color = white

screen-small-min = 768px
screen-medium-min = 992px
screen-large-min = 1200px

container-small = 750px
container-medium = 970px
container-large = 1170px

main-gutter-width = 15px